:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Media Queries para Responsive Design */
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}

/* Dark Mode */
body.dark-mode {
  --text-color: #333; /* Cambia el color del texto en modo oscuro */
  --background-color: #f0f0f0; /* Cambia el color de fondo en modo oscuro */
}