:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --text-color: rgba(0, 0, 0, 0.87); /* Color de texto en modo claro */
  --background-color: #ffffff; /* Color de fondo en modo claro */
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Media Queries para Responsive Design */
@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles */
}