/* ProductItem.module.css */

.card {
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.482);
    background-color: #f2f2f2;
    --main-focus: rgb(0, 0, 0);
    width: 10rem;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1rem;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0.4rem 0.4rem rgba(59, 59, 59, 0.171);
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card img {
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 1rem;
    margin: 0;
}
  
.cardImg {
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    margin: 0;
}
  
.cardTitle {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: var(--font-color);
    margin: 0;
}
  
.cardSubtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color-sub);
}
  
.cardDivider {
    width: 100%;
    border: 1px solid black;
    border-radius: 4rem;
    margin: 0;
}
  
.cardFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
  
.cardPrice {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
    margin: 0;
}
  
.cardPrice span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-sub);
    margin: 0;
}
  
.cardBtn {
    height: 35px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
    margin: 0;
    cursor: pointer;
}
  
.cardBtn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
    margin: 0;
}
  
.cardBtn:hover svg {
    fill: var(--main-focus);
}
  
.cardBtn:active {
    transform: translateY(3px);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
}

.detailsLink {
    text-decoration: none;
    color: black;
}