/* ProductItem.module.css */

.card {
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    --main-focus: #2d8cf0;
    width: 10rem;
    height: 15rem;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 1rem;
  }

  .card img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem;
    margin: 0;
  }
  
  .card:last-child {
    justify-content: flex-end;
  }
  
  .cardImg {
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  .cardTitle {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    color: var(--font-color);
    margin: 0;
  }
  
  .cardSubtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color-sub);
  }
  
  .cardDivider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    margin: 0;
  }
  
  .cardFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  
  .cardPrice {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
    margin: 0;
  }
  
  .cardPrice span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-sub);
    margin: 0;
  }
  
  .cardBtn {
    height: 35px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
    margin: 0;
    cursor: pointer;
  }
  
  .cardBtn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
    transition: all 0.3s;
    margin: 0;
  }
  
  .cardImg:hover {
    transform: translateY(-3px);
  }
  
  .cardBtn:hover {
    border: 2px solid var(--main-focus);
  }
  
  .cardBtn:hover svg {
    fill: var(--main-focus);
  }
  
  .cardBtn:active {
    transform: translateY(3px);
  }
  